In [1]:
import pandas as pd

In [15]:
df = pd.read_excel('data/ALLPOURTALEAUCROISE2.xlsx')
df.head()

,record,pays\n1\tUSA\n2\tChina\n3\tGermany\n4\tFrance\n5\tIndia\n6\tItaly\n7\tCanada\n8\tSouth Korea\n9\tBrazil\n10\tAustralia\n11\tSpain\n12\tMexico\n13\tPoland\n14\tPortugal\n15\tUAE\n16\tDenmark\n17\tSouth Africa\n18\tSenegal\n19\tIsrael\n20\tKenya,SEXE,AGE \n16-34\n35-54\n>=55,Dans quelle catégorie se trouve votre résidence principale ?\n1\tUrbain\n2\tSemi-urbain\n3\tRural,CSP\n1\tCSP+\n2\tCSP-\n3\tInactifs,ETHNIE\n1\tAsian \n2\tBlack\n3\tMixed \n4\tWhite \n5\tAnother \n6\tPrefer not to respond,PHOTOTYPE\n1=Peau Claire\n2=Peau Mate,MALADIE DE PEAU\n1=non\n2=oui,Maladie de peau\n1\tOui\n2\tNon\n3\tNe sait pas,...,SI colonne FW reponse1ou2\nPour pouvoir passer plus de temps au soleil,SI colonne FW reponse1ou2\nA cause d’antécédents de brûlures dues au soleil,SI colonne FW reponse1ou2\nComme protection contre l’accélération du vieillissement de la peau,SI colonne FW reponse1ou2\nComme protection contre le risque de tumeurs de la peau,SI colonne FW reponse1ou2\nPour d’autres raisons,SI colonne FW reponse 3\nLes produits sont trop cHER,SI colonne FW reponse 3\nJe n'y pense pas,SI colonne FW reponse 3\nJe pense que cela n'est pas utile,SI colonne FW reponse 3\nC'est trop fastidieux,SI colonne FW reponse 3\nJe ne connaissais pas cette recommandation
0,8033,1,2,32,2,2,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8690,1,1,54,3,2,4,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12175,1,1,35,1,2,3,1,2,1,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,8210,1,1,54,1,1,4,1,2,1,...,0.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
4,5905,1,2,50,2,3,4,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
target_name = 'Dermatite atopique / Eczema'
sub_df = df[~df[target_name].isna()]
counts = sub_df[target_name].value_counts()
values = df[target_name].dropna().unique()
    #Computing averages
for value in values:
    counts[str(value) + ' Average'] = counts[value] / len(df)

print(counts)

Dermatite atopique / Eczema
0.0            12753.000000
1.0             4874.000000
0.0 Average        0.252275
1.0 Average        0.096416
Name: count, dtype: float64

In [12]:
def count_variable(df,target_name,group = None):
    """
    df : Dataframe
    group : dictionary of variable names (keys) and desired values value {col_name : [value]}, if list contains
            more than one element then it is treated as an or statement
    target_name : name of column to count (render)
    Returns the count for the different non Nan values of target_name for the defined group in the dataframe + the average count for each value
    """
    sub_df = df.copy()
    if group : 
        for key in group.keys():
            sub_df = sub_df[sub_df[key].isin(group[key])]
    counts = sub_df[target_name].value_counts().to_dict()
    values = df[target_name].dropna().unique()
    #Computing averages
    for value in values:
        counts[str(value) + ' Average'] = counts[value] / len(sub_df)
    return counts

def get_groups(df,target_name,groups):
    """
    df : Dataframe
    groups : list of dicts where each dict is variable names (keys) and desired values value {col_name : [value]}, if list contains
            more than one element then it is treated as an or statement
    target_name : name of columns to count (render)
    Returns a dataframe with values for each group in a row
    """
    list_of_dicts = []
    for group in groups : 
        list_of_dicts.append(count_variable(df,target_name,group))
    return list_of_dicts

def list_dict_to_df(list_of_dicts):
    return pd.DataFrame(list_of_dicts)

In [14]:
target_name = 'Dermatite atopique / Eczema'
group = {'SEXE':[1]}
group2 = {'SEXE':[2]}
new_df = list_dict_to_df(get_groups(df,target_name,[group,group2]))
new_df.head()

    0.0   1.0  0.0 Average  1.0 Average
0  5403  2111     0.212817      0.08315
1  7350  2763     0.292084      0.10980

In [16]:
import pandas as pd

# Assuming `df` is your DataFrame
# Load or create your DataFrame here
# df = pd.DataFrame(data)

# Select the last 50 rows
last_50_rows = df.tail(50)

# Save the last 50 rows to an Excel file
last_50_rows.to_excel('last_50_rows.xlsx', index=False)